{% extends "admin/admin_home.html" %}
{% block body %}

    <div class="mainpanel">
        <div class="pageheader">
            <div class="media">
                <div class="pageicon pull-left">
                    <i class="fa fa-home"></i>
                </div>
                <div class="media-body">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                        <li><a href="#">Admin</a></li>
                        <li>Home</li>
                    </ul>
                    <h5><b>Welcome Admin</b></h5>
                </div>
            </div>
        </div>
        <div class="contentpanel">

<div class="row align-items-center">
    <div class="col-lg-4">
        <div class="banner_text">
            <div class="banner_text_iner">
                <h5>We are here for your care</h5>
                <h1>Best Care &amp;
                    Better Choice</h1>
                <p>We are here to help students who are pursuing their educational degrees, to choose a
                stream best suited for them ,according to your proficiency.</p>


            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="banner_img">
            <img src="/static/download.jpg" alt="">
        </div>
    </div>
</div>




        </div>
    </div>







{% endblock %}