{% extends "admin/admin_home.html" %}
{% block body %}
               <div class="mainpanel">
            <div class="pageheader">
                <div class="media">
                    <div class="pageicon pull-left">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="media-body">
                        <ul class="breadcrumb">
                        <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                        <li><a href="#">Admin</a></li>
                        <li>Admin</li>
                    </ul>
                    <h5><b></b></h5>
                    </div>
                </div>
            </div>
            <div class="contentpanel">

<form id="form1" name="form1" method="post" action="/admin_add_password_post">
  <p>&nbsp;</p>
  <table class="table table-responsive container-fluid">
    <tr>
      <th width="177"><div align="left">CURRENT PASSWORD</div></th>
      <td width="281"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <th><div align="left">NEW PASSWORD</div></th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="new" class="form-control" required/></td>
    </tr>
    <tr>
      <th><div align="left">CONFIRM PASSWORD</div></th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="cfm" class="form-control" required/>
      <label class="lab"></label></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
      <td align="center"><div align="left">
        <input type="submit" name="button" id="btn" value="change" class="btn  btn-success" />
      </div></td>
    </tr>
  </table>
</form>

            </div></div>





<script>
function dd()
{
    var n=document.getElementById('new').value;
    var c=document.getElementById('cfm').value;
    if (n!=c)
   {
     document.getElementById('btn').disabled = true;
     document.getElementById('lab').style.color = "Red";
     document.getElementById('lab').innerHTML = 'new password and confirm password not matching';
    }
    else
    {
    document.getElementById('btn').disabled = false;
    document.getElementById('lab').innerHTML = ' ';
    }
}
</script>

{% endblock %}